<!--<form (ngSubmit)="save()" [formGroup]="form" xmlns="">-->
<!--    <div fxLayout="row" fxLayoutAlign="start center" mat-dialog-title>-->

<!--        <h2 *ngIf="form.get('name').value"-->
<!--            class="headline m-0"-->
<!--            fxFlex="auto">{{ form.get('name').value }}</h2>-->
<!--        <h2 *ngIf="!form.get('name').value"-->
<!--            class="headline m-0"-->
<!--            fxFlex="auto">{{'New Hashtag'}}</h2>-->

<!--&lt;!&ndash;        <button class="text-secondary" mat-dialog-close mat-icon-button type="button">&ndash;&gt;-->
<!--&lt;!&ndash;        </button>&ndash;&gt;-->
<!--    </div>-->

<!--    <mat-divider class="-mx-6 text-border"></mat-divider>-->

<!--    <mat-dialog-content fxLayout="column">-->
<!--&lt;!&ndash;        <div class="flex flex-col sm:flex-row">&ndash;&gt;-->
<!--&lt;!&ndash;            <mat-form-field *ngIf="allCategories" class="mt-6 flex-auto">&ndash;&gt;-->
<!--&lt;!&ndash;                <mat-label>{{'Parent category' | translate}}</mat-label>&ndash;&gt;-->
<!--&lt;!&ndash;                <mat-select cdkFocusInitial formControlName="parentId">&ndash;&gt;-->
<!--&lt;!&ndash;                    <mat-option *ngFor="let i of allCategories" [value]="i.id">&ndash;&gt;-->
<!--&lt;!&ndash;                        {{i.name}}&ndash;&gt;-->
<!--&lt;!&ndash;                    </mat-option>&ndash;&gt;-->
<!--&lt;!&ndash;                </mat-select>&ndash;&gt;-->

<!--&lt;!&ndash;                <mat-icon class="mr-3" matPrefix></mat-icon>&ndash;&gt;-->
<!--&lt;!&ndash;            </mat-form-field>&ndash;&gt;-->

<!--&lt;!&ndash;            <mat-form-field class="sm:mt-6 sm:ml-6 flex-auto">&ndash;&gt;-->
<!--&lt;!&ndash;                <mat-label>{{'Hashtag Name' | translate}}</mat-label>&ndash;&gt;-->
<!--&lt;!&ndash;                <input cdkFocusInitial formControlName="name" matInput>&ndash;&gt;-->

<!--&lt;!&ndash;                <mat-icon class="mr-3" matPrefix></mat-icon>&ndash;&gt;-->
<!--&lt;!&ndash;            </mat-form-field>&ndash;&gt;-->
<!--&lt;!&ndash;        </div>&ndash;&gt;-->

<!--&lt;!&ndash;        <mat-form-field *ngIf="data" class="mt-6 flex-auto">&ndash;&gt;-->
<!--&lt;!&ndash;            <mat-label>{{'Category name' | translate}}</mat-label>&ndash;&gt;-->
<!--&lt;!&ndash;            <mat-select cdkFocusInitial formControlName="categoryTabs" multiple>&ndash;&gt;-->
<!--&lt;!&ndash;                <mat-option *ngFor="let i of data.tabs" [value]="i.id">&ndash;&gt;-->
<!--&lt;!&ndash;                    {{i.name}}&ndash;&gt;-->
<!--&lt;!&ndash;                </mat-option>&ndash;&gt;-->
<!--&lt;!&ndash;            </mat-select>&ndash;&gt;-->

<!--&lt;!&ndash;            <mat-icon class="mr-3" matPrefix></mat-icon>&ndash;&gt;-->
<!--&lt;!&ndash;        </mat-form-field>&ndash;&gt;-->
<!--    </mat-dialog-content>-->
<!--</form>-->
